<% include templates/header.ejs %>

<div class="container container-fluid">

    <h1>Here are some results: </h1>
    <br>

    <ul>
        <% data["Search"].forEach((movie) => { %>
        <li>
            <h5><%= movie["Title"]  %></h5> - <em><%= movie["Year"] %></em> <br><br>
            <img src=<%= movie["Poster"] %>>
        </li>
        <br><br><br>
        <% }); %>
    </ul>

    <a href="/" class="btn btn-warning"><i class="fas fa-search"></i> Search again</a>
</div>

<% include templates/footer.ejs %>