<footer>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead">This app is made with OMDb API &copy; <small><a
                        href="https://www.github.com/Rajat1999">Rajat</a> & <a
                        href="http://www.omdbapi.com/">omdbapi</a></small></p>
        </div>
    </div>
</footer>

</body>

</html>